{
	email {$ACME_EMAIL}
}

http://www.{$SITE_DOMAIN}, https://www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$SITE_DOMAIN} {
	encode gzip zstd
	reverse_proxy frontend:80
}

analytics.{$SITE_DOMAIN} {
	reverse_proxy umami:3000
}
